* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  min-width: 300px;
}

img {
  max-width: 100%;
}

/* Navbar */

.nav {
  height: 70px;
  padding: 2em 1.5em;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.nav__logo {
  height: 30px;
}

.main-container {
  max-width: 1250px;
  margin: 0 auto;
}

/* Hero section */

.hero {
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__img {
  max-width: 350px;
  align-self: center;
}

.hero__title {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2.25rem;
  margin-bottom: 0;
}

.hero__info {
  max-width: 320px;
  line-height: 110%;
}

@media (min-width: 700px) {
  .hero {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5em;
    margin-top: 5em;
  }
  .hero__img {
    margin-right: 2em;
    max-width: 400px;
  }
}

/* Card section */

.card-list {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-row-gap: 3em;
  margin: 0 auto;
}

.card {
  font-size: 0.75rem;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card > * {
  margin: 0;
  margin-bottom: 0.5em;
}
.card__badge {
  text-transform: uppercase;
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 0.25em 0.5em;
  background-color: #fff;
  font-size: 0.6rem;
  line-height: 1.4;
  border-radius: 2px;
}

.card__img {
  border-radius: 9px;
}

.card__details {
  display: flex;
  align-items: center;
}

.card__details > * {
  margin-right: 0.5em;
}

.card__star {
  height: 14px;
}

.card__location,
.card__review-count {
  color: #918e9b;
}

.card__price {
  margin-top: auto;
}
